<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div fxFlex="40" *ngIf="dish">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{ dish.name | uppercase }}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-img src="{{ dish.image }}" alt="{{ dish.name }}" width="100%" />
      <mat-card-content>
        <p>{{ dish.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>

        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <h3>Comments</h3>
    <mat-list>
    <mat-list-item *ngFor="let dishResult of dish.comments" class="no-list">
      <h4 matLine>{{ dishResult.comment }}</h4>
      <p matLine>{{ dishResult.rating }} Stars</p>
      <p matLine>
        <span>--- {{ dishResult.author }}{{ dishResult.date | date }}</span>
      </p>

    </mat-list-item>
  </mat-list>
  <mat-list style="margin-top: 50px;">
    <mat-list-item fxFlex="100"  *ngIf="dish" [formGroup]="dishForm" #fform="ngForm" (ngSubmit)="onSubmit()" class="no-list">
      <mat-form-field matLine class="half-width">
        <input matInput formControlName="author" placeholder="Name" type="text"
           [required]="true">
          <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
      </mat-form-field>
      <div class="half-width" matLine style="padding-top: 20px;">
        <mat-slider role="slider" formControlName="rating" [thumbLabel]="true" [min]="0" [max]="5"></mat-slider>
        <mat-error *ngIf="formErrors.rating">{{formErrors.rating}}</mat-error>
      </div>
      <mat-form-field class="half-width" appearance="fill" matLine>
        <mat-label>Your Comment</mat-label>
        <textarea matInput formControlName="comment" placeholder="comment" type="text" ></textarea>
        <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
      </mat-form-field>
      <button mat-flat-button (click)="onSubmit()" style="width: 100px!important;" color="primary" matLine type="submit" [disabled]="dishForm.status !== 'INVALID'? false : true">Submit</button>
    </mat-list-item>
  </mat-list>
  </div>
  <div fxFlex [hidden]="dish">
    <mat-spinner><h4>Loading ... PLease Wait!!</h4></mat-spinner>
  </div>
</div>
